html {
    font-size: 62.5%;
    font-family: 'Nunito', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eceef1;
}

a {
    text-decoration: none;
    color: rgb(0, 119, 197);

}

button {
    outline: none;
}

.l-horizontal {
    display: flex;
    align-items: center;
}


/* Login Section */
.login {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    margin-right: 2rem;

    &__info {
        color: #505050;
        font-size: 1.2rem;
        margin-top: .2rem;
        margin-bottom: .5rem;
    }

    &__forget {
        font-size: 1.2rem;
    }

    &__btn {
        margin: 0 1rem;
        background: #0077c5;
        color: white;
        width: 10.2rem;
        height: 3.4rem;
        justify-content: center;
        font-size: 1.35rem;
        font-family: 'Nunito', "Helvetica Neue", Helvetica, Arial, sans-serif;
        border-radius: .4rem;
        border: 1px solid rgb(76, 76, 76);
        cursor: pointer;

        img {
            width: 1rem;
            height: 1.3rem;
            margin-right: .6rem;
        }   
    }
}


/* Logos */
.main-logo {
    margin: 3rem 0 2rem 0;
    img {
        display: block;
        width: 11.8rem;
        margin: 0 auto;
    }
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 0 .5rem;
    }

    &__icon {
        width: 2.3rem;
        margin-right: .5rem;
    }

    &__text {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}


/* Signup Form Section */
.signup-form {
    width: 38rem;
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 2px;
    margin: 2rem auto;


    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(76, 76, 76);
        
    }

    &__title {
        font-size: 2.4rem;
        margin: 2.5rem 0;
    }

    &__subtitle {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 300;
       
        a {
            margin-top: .3rem;
            font-size: 1.2rem;
        }
    }
}

.signup-form__form {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    justify-content: center;
    align-items: center;
}

.signup-form__field {

    * {
        display: block;
        font-weight: 300;
    }

    label {
        font-size: 1.4rem;
        
    }

    input {
        width: 31.6rem;
        height: 3rem;
        border-radius: 3px;
        border: 1px solid rgb(193, 197, 200);
        font-size: 1.7rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
        outline: none;

        &:focus {
            border: 1px solid rgb(130, 187, 238);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        }

        &:last-of-type {
            margin-bottom: 3rem;
        }
    }
}

#standard-call-note {
    margin-top: -2.5rem;
    margin-bottom: 3rem;
}

#password-field {
    position: relative;

}

#password-field-icon {
    width: 2.2rem;
    position: absolute;
    top: 6px;
    right: 5px;
}

.signup-form__btn {
    background: #0077c5;
    color: white;
    width: 32rem;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.57rem;
    font-weight: 300;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.75);
    cursor: pointer;
    margin-bottom: 1rem;

    img {
        width: 1.26rem;
        margin-right: 1rem;
    }
}

.signup-form__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    font-size: 1.2rem;
    color: rgb(117, 117, 117);
    line-height: 2.1rem;
    margin-bottom: 3rem;
}

.signup-form__captcha {
    width: 100%;
    height: 5.3rem;
    background-color: #eceef1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(141, 144, 150);
}


/* Footer Section */
.page-footer {
    font-size: 1.2rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(80, 80, 80);
    margin-bottom: 2rem;
}

.page-footer__links {
   a {
       margin-right: 1rem;
       color: rgb(80, 80, 80);

       &:last-of-type {
           margin-right: 0;
       }
   }
}

.page-footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

}